footer.c-footer
  .c-container
    .c-footer_inner
      h1.c-footer_title Rabi Inc.
      p.c-footer_copyright
        | &copy;
        a(href='https://usagizmo.com', target='_blank', rel='noopener noreferrer') usagizmo
script(
  src='https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js',
  integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=',
  crossorigin='anonymous'
)
script(
  src='https://cdn.jsdelivr.net/npm/jquery.easing@1.4.1/jquery.easing.min.js',
  integrity='sha256-H3cjtrm/ztDeuhCN9I4yh4iN2Ybx/y1RM7rMmAesA0k=',
  crossorigin='anonymous'
)
script(
  src='https://cdn.jsdelivr.net/npm/jquery-throttle-debounce@1.0.0/jquery.ba-throttle-debounce.min.js',
  integrity='sha256-+nuEu243+6BveXk5N+Vbr268G+4FHjUOEcfKaBqfPbc=',
  crossorigin='anonymous'
)
script(src='https://cdn.jsdelivr.net/npm/jquery-sticky@1.0.4/jquery.sticky.min.js')
script(
  src='https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js',
  integrity='sha256-DHF4zGyjT7GOMPBwpeehwoey18z8uiz98G4PRu2lV0A=',
  crossorigin='anonymous'
)
script(src=base + "/script.js")
