div(data-same-height='.c-header', data-scroll-offset)
header.c-header
  .c-container
    .c-header_inner
      h1.c-header_logo
        a(href=base + "/") Rabi Inc.
      nav.c-header_nav.u-pc
        ul
          li
            a(href=base + "/#section-01") 01
          li
            a(href=base + "/#section-02") 02
          li
            a(href=base + "/#section-03") 03
        ul
          li
            a(href=base + "/second/") Second
#sp-menu.c-modal.u-sp(data-modal, data-modal-close)
  .c-modal_inner(data-modal-close-prevent)
    ul
      li
        a.c-modal_link(href=base + "/#section-01", data-modal-close) 01
      li
        a.c-modal_link(href=base + "/#section-02", data-modal-close) 02
      li
        a.c-modal_link(href=base + "/#section-03", data-modal-close) 03
    ul
      li
        a.c-modal_link(href=base + "/second/") Second
button.c-hamburger.u-sp(type='button', data-modal-toggle='#sp-menu')
  span.c-hamburger_icons
    span
  span.u-sr-only MENU
