header.c-header(data-scroll-offset='')
  .c-container
    .c-header_inner
      h1.c-header_logo
        a(href='#') Rabi Inc.
      nav.c-header_nav.u-pc
        ul
          li
            a(href=base + "/#section-01") 01
          li
            a(href=base + "/#section-02") 02
          li
            a(href=base + "/#section-03") 03
        ul
          li
            a(href=base + "/second/") Second
      button.c-header_menu-button.u-sp(type='button', data-toggle-menu='')
        span.c-header_menu-icons
          span
        span.u-sr-only MENU
div(data-same-height='.c-header', style={ color: "red" })
.c-sp-menu.u-sp
  .c-sp-menu_inner
    ul
      li
        a.c-sp-menu_link(href=base + "/#section-01", data-close-menu='') 01
      li
        a.c-sp-menu_link(href=base + "/#section-02", data-close-menu='') 02
      li
        a.c-sp-menu_link(href=base + "/#section-03", data-close-menu='') 03
    ul
      li
        a.c-sp-menu_link(href=base + "/second/") Second
