div(data-same-height='.c-header', data-scroll-offset)
header.c-header
  .c-container
    .c-header_inner
      h1.c-header_logo
        a(href='#') Rabi Inc.
      nav.c-header_nav.u-pc
        ul
          li
            a(href=base + "/#section-01") 01
          li
            a(href=base + "/#section-02") 02
          li
            a(href=base + "/#section-03") 03
        ul
          li
            a(href=base + "/second/") Second
        span.c-header_menu-icons
          span
        span.u-sr-only MENU
button.c-sp-menu-button.u-sp(type='button', data-menu-toggle)
  span.c-sp-menu-button_icons
    span
  span.u-sr-only MENU
.c-sp-menu.u-sp(data-menu-close)
  .c-sp-menu_inner(data-menu-stop)
    ul
      li
        a.c-sp-menu_link(href=base + "/#section-01", data-menu-close) 01
      li
        a.c-sp-menu_link(href=base + "/#section-02", data-menu-close) 02
      li
        a.c-sp-menu_link(href=base + "/#section-03", data-menu-close) 03
    ul
      li
        a.c-sp-menu_link(href=base + "/second/") Second
